<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>新建项目</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <!--<link href="/css/demo_page.css" rel="stylesheet" />-->
    <!--<link href="/css/demo_table.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="/css/DT_bootstrap.css" />-->
    <!---->
</head>
<body style="background-color: #7ea8e1">
<hr/>
<div style="text-align: center;">
    <h3>
        新建项目
    </h3>
</div>
<section class="panel">
    <div style="text-align :right;">
        <button id="returnBtn" class="btn btn-success" type="button">返回</button>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" id="projectForm" role="form">
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">所属区域:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="idRegion" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">设计编号:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="idProject"  class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">设计名称:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="designName" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">文本设计费:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="textDesignFee"  class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院挂账设计费:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="hangUpDesignFee" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">审定设计费:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="approvedDesignFee" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">差额比对:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="differenceAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">挂账协作比例:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="hangUpRation" class="form-control" th:value="0.58">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">小计:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="projectSubtotal" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">管理费:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="manageFee" class="form-control" th:value="0.05">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">地税:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="landTax" class="form-control" th:value="0.0094">
                        <!--<label>%</label>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">挂账小计:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="HangUpSubtotal" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <!-- //后续信息-->
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院本次付款金额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="paymentAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院付款比例:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="paymentRation" class="form-control" th:value="0.8">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">实收金额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="actualReceiveAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院项目应收余额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="receivableAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院付款时间:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="paymentTime" class="form-control" placeholder="格式:月/日/年  例如：12/30/2001">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">协作单位本次付款金额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="cooperationPaymentAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">归还质保金:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="returnedGuaranteee" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">协作单位应付余额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="cooperationPayableAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">到账金额:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="reachMoneyAmount" class="form-control" th:value="0">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">到账时间:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="intoAccountTime" class="form-control" placeholder="格式:月/日/年  例如：12/30/2001">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">院挂账批次:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="hangUpBatch" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">付款批次:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="paymentBatch" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">挂账公司:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="hangOutCompany" class="form-control" >
                    </div>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label  class="col-lg-3 col-sm-3 control-label">收款审核:</label>-->
                <!--<div class="col-lg-9">-->
                    <!--<div class="checkbox ">-->
                        <!--<input type="radio" name="isChecked" class="form-control" th:value="true">审核-->
                        <!--<input type="radio" name="isChecked" class="form-control" th:value="false" checked>未审核-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">出版时间:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="publishedTime" class="form-control" th:value="2016">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-lg-3 col-sm-3 control-label">备注:</label>
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="textarea" name="addtionalInfo" cols="30" rows="4" class="form-control" >
                    </div>
                </div>
            </div>

            <div class="form-group" hidden="hidden" >
                <div class="col-lg-9">
                    <div class="iconic-input">
                        <input type="text" name="userName" class="form-control" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">
                    </div>
                </div>
            </div>

            <div style="text-align :right;">
                <button id="saveBtn" class="btn btn-success" type="button">保存</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<script src="/js/addnew.js"></script>
</body>
</html>