<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>项目详细</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>
<body>
<hr/>
<!-- page heading start-->
<div style="text-align: center;">
    <h3>
        项目详细
    </h3>
</div>
<!-- page heading end-->
<div style="text-align :left;">
    <button id="returnBtn" class="btn btn-success" type="button">返回</button>
</div>
<section class="panel" data-collapsed="0">
    <header class="panel-heading">
        <span th:text="${projectDetail.designName}"></span>
    </header>
    <div class="col-md-12 panel-body">
        <form  id="projectForm" style="background-color: #F9F9F9" role="form">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class ="control-label">所属区域:</label>
                    <span th:text="${projectDetail.idRegion}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">设计编号:</label>
                    <span th:text="${projectDetail.idProject}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">文本设计费:</label>
                    <span th:text="${projectDetail.textDesignFee}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">院挂账设计费:</label>
                    <span th:text="${projectDetail.hangUpDesignFee}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">审定设计费:</label>
                    <span th:text="${projectDetail.approvedDesignFee}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">差额比对:</label>
                    <span th:text="${projectDetail.differenceAmount}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">挂账协作比例:</label>
                    <span th:text="${projectDetail.hangUpRation}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">小计:</label>
                    <span th:text="${projectDetail.projectSubtotal}"></span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">管理费:</label>
                    <span th:text="${projectDetail.manageFee}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">地税:</label>
                    <span th:text="${projectDetail.landTax}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">挂账小计:</label>
                    <span th:text="${projectDetail.hangUpSubtotal}"></span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">院本次付款金额:</label>
                    <span th:text="${projectDetail.paymentAmount}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">院付款比例:</label>
                    <span th:text="${projectDetail.paymentRation}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">实收金额:</label>
                    <span th:text="${projectDetail.actualReceiveAmount}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">院项目应收余额:</label>
                    <span th:text="${projectDetail.receivableAmount}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">院付款时间:</label>
                    <span th:text="${projectDetail.paymentTime}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">协作单位本次付款金额:</label>
                    <span th:text="${projectDetail.cooperationPaymentAmount}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">归还质保金:</label>
                    <span th:text="${projectDetail.returnedGuarantee}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">协作单位应付余额:</label>
                    <span th:text="${projectDetail.cooperationPayableAmount}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">到账金额（繁睿）:</label>
                    <span th:text="${projectDetail.reachMoneyAmount}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">到账时间:</label>
                    <span th:text="${projectDetail.intoAccountTime}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">院挂账批次:</label>
                    <span th:text="${projectDetail.hangUpBatch}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">付款批次:</label>
                    <span th:text="${projectDetail.paymentBatch}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">挂账公司:</label>
                    <span th:text="${projectDetail.hangOutCompany}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">出版时间:</label>
                    <span th:text="${projectDetail.publishedTime}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">项目创建时间:</label>
                    <span th:text="${projectDetail.projectCreateTime}"></span>
                </div>
                <div class="col-md-3 form-group">
                    <label  class="control-label">创建项目的用户:</label>
                    <span th:text="${projectDetail.userName}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label  class="control-label">备注:</label>
                    <span th:text="${projectDetail.additionalInfo}"></span>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="col-md-6" style="text-align :left;">
    <section class="panel">
        <header class="panel-heading">
            挂账
        </header>
        <div class="adv-table">
            <table  class="display table table-bordered table-striped" id="dynamic-table" >
                <thead>
                <tr>
                    <th>次数</th>
                    <th>实际挂账金额</th>
                    <th>发票号码</th>
                    <th>发票金额</th>
                    <th>发票时间</th>
                    <th>经手人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <dl th:each="hangUp:${allHangUps}">
                    <tr class="gradeX">
                        <td th:text="${hangUp.hangUpTimes}"></td>
                        <td th:text="${hangUp.actualHangUpAmount}"></td>
                        <td th:text="${hangUp.hangUpInvoiceNumber}"></td>
                        <td th:text="${hangUp.hangUpInvoiceAmount}"></td>
                        <td th:text="${hangUp.hangUpInvoiceTime}"></td>
                        <td th:text="${hangUp.userName}"></td>
                        <td><button th:id="deleteHangUpBtn" class="btn btn-success" type="button" th:onclick="'javascript:deleteHangUp('+${hangUp.id}+')'">删除</button></td>
                    </tr>
                </dl>
                </tbody>
            </table>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="hungUpForm" role="form">
                <div class="form-group">
                    <div class="col-lg-9" hidden="hidden">
                        <div class="iconic-input">
                            <input type="text" name="idProject" class="form-control" th:value = "${projectDetail.idProject}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9" hidden="hidden">
                        <div class="iconic-input">
                            <input type="text" id="idTemp" name="idTemp" class="form-control" th:value = "${projectDetail.id}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">次数(<=5):</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="hangUpTimes" name="hangUpTimes" class="form-control" th:value="${allHangUps.size()+1}" onchange="checkIsLessThanFive(this.name)">
                            <span id="hangUpTimesMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">实际挂账金额:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="actualHangUpAmount" name="actualHangUpAmount"  class="form-control" onchange="checkActualHangUpAmount(this.name)">
                            <span id="actualHangUpAmountMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票号码:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" name="hangUpInvoiceNumber" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票金额:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="hangUpInvoiceAmount" name="hangUpInvoiceAmount"  class="form-control" value="" onchange="checkIsNumber(this.name)">
                            <span id="hangUpInvoiceAmountMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票时间:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" name="hangUpInvoiceTime" class="form-control" placeholder="格式: 月/日/年  例如：12/30/2001">
                        </div>
                    </div>
                </div>
                <div class="form-group" hidden="hidden" >
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" name="userName" class="form-control" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">
                        </div>
                    </div>
                </div>
                <div style="text-align :right;">
                    <button id="addHangUpBtn" class="btn btn-success" type="button">添加挂账</button>
                </div>
            </form>
        </div>
    </section>
</div>

<div class="col-md-6" style="text-align :right;">
    <section class="panel">
        <header class="panel-heading">
            走账
        </header>
        <div class="adv-table">
            <table  class="display table table-bordered table-striped" id="ldynamic-table" >
                <thead>
                <tr>
                    <th>次数</th>
                    <th>发票号码</th>
                    <th>发票金额</th>
                    <th>发票时间</th>
                    <th>经手人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <dl th:each="companyAccount:${allCompanyAccounts}">
                    <tr class="gradeX">
                        <td th:text="${companyAccount.accountTimes}"></td>
                        <td th:text="${companyAccount.companyAccountInvoiceNumber}"></td>
                        <td th:text="${companyAccount.companyAccountInvoiceAmount}"></td>
                        <td th:text="${companyAccount.companyAccountInvoiceTime}"></td>
                        <td th:text="${companyAccount.userName}"></td>
                        <td><button th:id="deleteCompanyAccountBtn" class="btn btn-fail" type="button" th:onclick="'javascript:deleteCompanyAccount('+${companyAccount.id}+')'">删除</button></td>
                    </tr>
                </dl>
                </tbody>
            </table>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="companyAccountForm" role="form">
                <div class="form-group">
                    <div class="col-lg-9" hidden="hidden">
                        <div class="iconic-input">
                            <input type="text" name="idProject" class="form-control" th:value="${projectDetail.idProject}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9" hidden="hidden">
                        <div class="iconic-input">
                            <input type="text" name="idTemp" class="form-control" th:value = "${projectDetail.id}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">次数(<=5):</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="accountTimes" name="accountTimes" class="form-control" th:value="${allCompanyAccounts.size()+1}" onchange="checkIsLessThanFive(this.name)">
                            <span id="accountTimesMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票号码:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="companyAccountInvoiceNumber" name="companyAccountInvoiceNumber" class="form-control" >
                            <span id="companyAccountInvoiceNumberMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票金额:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input" >
                            <input type="text" id="companyAccountInvoiceAmount" name="companyAccountInvoiceAmount"  class="form-control" onchange="checkIsNumber(this.name)">
                            <span id="companyAccountInvoiceAmountMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-lg-3 col-sm-3 control-label">发票时间:</label>
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" id="companyAccountInvoiceTime" name="companyAccountInvoiceTime" class="form-control" placeholder="格式: 月/日/年  例如：12/30/2001">
                            <span id="companyAccountInvoiceTimeMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" hidden="hidden">
                    <div class="col-lg-9">
                        <div class="iconic-input">
                            <input type="text" name="userName" class="form-control" th:value="${#httpServletRequest.remoteUser}">
                            <!--这个是用的另外一种写法获得名字-->
                        </div>
                    </div>
                </div>
                <div style="text-align :right;">
                    <button id="addCompanyAccountBtn" class="btn btn-success" type="button">添加走账</button>
                </div>
            </form>
        </div>
    </section>
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<script src="/js/detail.js"></script>
<script src="/js/check.js"></script>
</body>
</html>