<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>项目详细</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>
<body>
    <h2>项目详细</h2>
    <section class="panel" data-collapsed="0">
        <header class="panel-heading">
            <span th:text="${projectDetail.designName}"></span>
        </header>
        <div class="col-md-12 panel-body">
            <form  id="projectForm" style="background-color: #F9F9F9" role="form">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label  class ="control-label">所属区域:</label>
                        <span th:text="${projectDetail.idRegion}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">设计编号:</label>
                        <span th:text="${projectDetail.idProject}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">文本设计费:</label>
                        <span th:text="${projectDetail.textDesignFee}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">院挂账设计费:</label>
                        <span th:text="${projectDetail.hangUpDesignFee}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label  class="control-label">审定设计费:</label>
                        <span th:text="${projectDetail.approvedDesignFee}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">差额比对:</label>
                        <span th:text="${projectDetail.differenceAmount}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">挂账协作比例:</label>
                        <span th:text="${projectDetail.hangUpRation}"></span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label  class="control-label">小计:</label>
                        <span th:text="${projectDetail.projectSubtotal}"></span>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="col-md-6" style="text-align :left;">
        <section class="panel">
            <header class="panel-heading">
                挂账
            </header>
            <div class="adv-table">
                <table  class="display table table-bordered table-striped" id="dynamic-table" >
                    <thead>
                    <tr>
                        <th>次数</th>
                        <th>实际挂账金额</th>
                        <th>发票号码</th>
                        <th>发票金额</th>
                        <th>发票时间</th>
                        <th>挂账创建时间</th>
                        <!--<th>经手人</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <dl th:each="hangUp:${allHangUps}">
                        <tr class="gradeX">
                            <td th:text="${hangUp.hangUpTimes}"></td>
                            <td th:text="${hangUp.actualHangUpAmount}"></td>
                            <td th:text="${hangUp.invoiceNumber}"></td>
                            <td th:text="${hangUp.invoiceAmount}"></td>
                            <td th:text="${hangUp.invoiceTime}"></td>
                            <td th:text="${hangUp.hangUpCreateTime}"></td>
                            <!--<td th:text="${hangUp.userName}"></td>-->
                        </tr>
                    </dl>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="hungUpForm" role="form">
                    <p name = "idProject"  th:value = "${projectDetail.idProject}"></p>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">次数:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="hangUpTimes" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">实际挂账金额:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="actualHangUpAmount"  class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票号码:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceNumber" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票金额:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceAmount"  class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票时间:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceTime" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">挂账创建时间:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="hangUpCreateTime" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div style="text-align :right;">
                        <button id="addHangUpBtn" class="btn btn-success" type="button">添加挂账</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <div class="col-md-6" style="text-align :right;">
        <section class="panel">
            <header class="panel-heading">
                走账
            </header>
            <div class="adv-table">
                <table  class="display table table-bordered table-striped" id="dynamic-table" >
                    <thead>
                    <tr>
                        <th>次数</th>
                        <th>发票号码</th>
                        <th>发票金额</th>
                        <th>发票时间</th>
                        <th>挂账创建时间</th>
                        <!--<th>经手人</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <dl th:each="companyAccount:${allCompanyAccounts}">
                        <tr class="gradeX">
                            <td th:text="${companyAccount.hangUpTimes}"></td>
                            <td th:text="${companyAccount.invoiceNumber}"></td>
                            <td th:text="${companyAccount.invoiceAmount}"></td>
                            <td th:text="${companyAccount.invoiceTime}"></td>
                            <td th:text="${companyAccount.hangUpCreateTime}"></td>
                            <!--<td th:text="${hangUp.userName}"></td>-->
                        </tr>
                    </dl>
                    </tbody>
                </table>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="companyAccountForm" role="form">
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">次数:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="hangUpTimes" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票号码:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceNumber" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票金额:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceAmount"  class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">发票时间:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="invoiceTime" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-3 col-sm-3 control-label">挂账创建时间:</label>
                        <div class="col-lg-9">
                            <div class="iconic-input">
                                <input type="text" name="hangUpCreateTime" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div style="text-align :right;">
                        <button id="addCompanyAccountBtn" class="btn btn-success" type="button">添加走账</button>
                    </div>
                </form>
            </div>
        </section>
        <div style="text-align :right;">
            <button id="returnBtn" class="btn btn-success" type="button">返回</button>
        </div>
    </div>

    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>

    <!--common scripts for all pages-->
    <script src="/js/scripts.js"></script>
    <script src="/js/detail.js"></script>
</body>
</html>