<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="errorPage" style="text-align: center;">
        <h3 class="oops">Oops!~</h3>
        <img th:src="@{/images/MissingPage.jpg}">
        <p>There seems to be a problem with the page you requested(<span th:text="${path}"></span>).</p>
        <!--<p th:text="${'Details: ' + message}"></p>-->
        <!--<a href="https://139.199.3.41:8443/home">返回首页</a>-->
        <a href="https://127.0.0.1:8443/home">返回首页</a>
    </div>
</body>
</html>