<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <link href="/css/demo_page.css" rel="stylesheet" />
    <link href="/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/DT_bootstrap.css" />

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>
<body style="background-color: #7ea8e1">
<hr/>
<!-- page heading start-->
<div style="text-align: center;">
    <h3>
        首页
    </h3>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div style="text-align :center;">
                        <button id="projectBtn" class="btn btn-success" type="button">项目财务管理</button>
                    </div>
                    <br>
                    <br>
                    <div style="text-align :center;">
                        <button id="adminBtn" class="btn btn-success" type="button">系统管理</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="/js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>
<script src="/js/homepage.js"></script>
</body>
</html>